article {
  min-height: 95vh;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

h3 {
    float: left;
    font-size: inherit;
    margin-right: 0.5em;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

h3::after {
  content: '\2767';
  font: 1.5em/0.5em sans-serif;
  padding-left: 0.5rem;
  position: relative;
  top: 3px;
}
