*, *:before, *:after { box-sizing: border-box; }

[data-color-mode=light] {
  --page-background: #fff;
  --theme-text-color: #282828;
  --theme-color: hsl(165,100%,35.3%);
  --theme-background-color: #00b488;
  --theme-background-color-light: rgb(230,248,243);
  --theme-background-color-lighter: rgb(250,254,253);
  --theme-background-color-lighter-dark: #f7fbfa;
}

[data-color-mode=dark] {
  --page-background: #000;
  --theme-text-color: #c7d7d7;
  --theme-color: hsl(165,100%,35.3%);
  --theme-background-color: #003629;
  --theme-background-color-light: #00241b;
  --theme-background-color-lighter: rgb(0,4,3);
  --theme-background-color-lighter-dark: #080c0b;
}

html {
  background: var(--page-background);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  color: var(--theme-text-color);
}

a {
  color: var(--theme-color);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: var(--theme-text-color);
}

.main-nav {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b0b5b3;
}

.main-nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 0 .5rem;
}

.webring-icon {
  height: 26px;
  width: 26px;
}

.webring-link {
  border-style: none;
  background: none;
}

.intro {
  margin-top: 2rem;
}

.main-footer {
  --auto-grid-min-size: 16rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.main-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer p:first-child {
  margin-top: 0;
}
