<footer>
    <div id="author">
        <p>&copy; {% getDate "yyyy" %} Cameron Higby-Naquin of <a href="/">chigby.org</a></p>
        <p>
            <a href="mailto:me@chigby.org">me@chigby.org</a>
            &bull;
            <a href="https://github.com/chigby">chigby</a> on GitHub
            &bull;
            <a href="https://www.instagram.com/nullsurface/">nullsurface</a> on Instagram
        </p>
    </div>
    <div>

    </div>
</footer>
