{% import "util.macros.njk" as util %}

{% macro figure(
    data=none,
    caption=none,
    attrs={}
) -%}
    {%- set rendered = _render_data(data) -%}
    <figure {{ util.as_attrs(attrs) }}>
        <div>
            {{- rendered | trim | safe -}}
        </div>
        {%- if caption -%}
            {{- caption | mdInline | safe -}}
        {%- endif -%}
    </figure>
{%- endmacro %}

{% macro iframe(
    src,
    title,
    width=none,
    height=none,
    span=none
) %}
    {%- set width = width or 560 -%}
    {%- set height = height or 315 -%}
    {%- set style = {
        '--ratio': [width, height] | join('/'),
        '--span': span
    } | styles -%}
    {%- set attrs = {
        'src': src,
        'title': title,
        'height': height,
        'width': width,
        'frameborder': '0',
        'style': style
    } -%}
    <iframe {{ util.as_attrs(attrs) }}></iframe>
{% endmacro %}


{% macro _render_data(
    data
)-%}
    {%- for item in data -%}
        {%- if item.iframe -%}
            {{- iframe(
                item.iframe,
                item.title or 'embed',
                item.width,
                item.height,
                item.span
            ) -}}
        {% else %}
        {% endif %}
    {% endfor %}
{% endmacro %}
