{%- import 'util.macros.njk' as util -%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link href="/css/rime.css" rel="stylesheet"/>
        {% include 'head/og.njk' %}
        <script src="/js/scripts.js" defer></script>
    </head>
    <body {{ util.as_attrs(attrs.body) }}>
        {% include "site/header.njk" %}
        <main {{ util.as_attrs(attrs.main) }}>
            {% block main %}
                <header id="page-header">
                    <h1>{{ title }}</h1>
                </header>
                {{ content | safe }}
            {% endblock %}
        </main>
        {% include "site/footer.njk" %}
    </body>
</html>
