*, ::before, ::after { box-sizing: border-box; }
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

ul, li { margin: 0; padding: 0; }
ul { list-style: none; }

body {
  color: rgba(0, 0, 0, .9);
  font:1.0em/1.62em 'Libre Franklin', sans-serif;
  margin: 0;
}

.container {
  width: min(90%, 60rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.main-footer {
  border-top: solid 1px #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / -1;
  padding-block: 1rem;
}

.webring-icon {
  height: 32px;
  width: 32px;
}

.bullet-separated {
  display: flex;
  flex-direction: row;
}

ul.bullet-separated li + li::before {
  content: "\2022 ";
  margin-left: 0.25em;
}

h4 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  margin: 1.5em 0 0;
}

a {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-decoration-color: red;
  -webkit-text-decoration-color: red;
}

a:hover {
  color: red;
}

p {
  margin: 0;
}
