<header id="banner">
    <a href="/">Cameron Higby-Naquin</a> · <a href="https://webring.xxiivv.com/#17" class="webring-link">
        <img src='https://webring.xxiivv.com/icon.black.svg' class="webring-icon" alt="XXIIVV webring" />
    </a>
</header>
