<header>
    <details id="theme-chooser">
        <summary>Light/Dark</summary>
        <div>
            <fieldset>
                <legend>Color Mode</legend>
                <label>
                    <input type="radio" id="theme-toggle-light" name="theme-toggle" value="light">
                    Light
                </label>

                <label>
                    <input type="radio" id="theme-toggle-dark" name="theme-toggle" value="dark">
                    Dark
                </label>

                <label>
                    <input type="radio" id="theme-toggle-system" name="theme-toggle" value="system">
                    System
                </label>
            </fieldset>
        </div>
    </details>
</header>
