<header>
    <details id="theme-chooser">
        <summary>Light/Dark</summary>
        <div>
            <fieldset>
                <legend>Color Mode</legend>
                <input type="radio" id="theme-toggle-light" name="theme-toggle" value="light">
                <label for="theme-toggle-light">Light</label>
                <input type="radio" id="theme-toggle-dark" name="theme-toggle" value="dark">
                <label for="theme-toggle-dark">Dark</label>
                <input type="radio" id="theme-toggle-system" name="theme-toggle" value="system">
                <label for="theme-toggle-system">System</label>
            </fieldset>
        </div>
    </details>
</header>
