---
title: Games
layout: secondary.njk
---
<header class="purple centered">
    <p class="mx-auto container">
        <span class="text-xl">Games Archive</span><br>Unearthed historical artifacts, rusting hulks amid sand dunes
    </p>
</header>

<article class="container mx-auto lh-copy">
    <h3>Small curiosities</h3>
    <ul>
        <li><a href="/darken/">Darken</a>, a Lights Out clone.</li>
        <li><a href="/quiz/">Quiz of Monster Quizzes</a>, a response to something, at one point, I was seeing a lot of.</li>
    </ul>
</article>
