---
title: Ruins
layout: secondary.njk
---
<header class="white green-bg centered">
    <p class="mx-auto container">
        <span class="text-xl">Ruins</span><br>Crumbling remnants of decades of social-media poisoning
    </p>
</header>

<article class="container mx-auto lh-copy">
    <h3>Facebook</h3>
    <ul>
        {%- for post in collections.facebook -%}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>, {{ post.data.type }}.
            </li>
        {%- endfor -%}
    </ul>

    <h3>Livejournal</h3>
    <ul>
        <li><a href="/northward/">Northward Meander</a>, a journey remembered in snowdrifts, parables, and dreams trapped behind mirrors.</li>
        {%- for post in collections.livejournal -%}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>, {{ post.data.type }}.
            </li>
        {%- endfor -%}
    </ul>

    <h3>Tumblr</h3>
    <ul>
        <li><a href="https://pathofleastefficiency.com/post/30466411316/on-leaving-philadelphia">On Leaving Philadelphia</a></li>
        <li><a href="https://pathofleastefficiency.com/post/48308926996/you-make-the-card-shackles-of-syphoning">You Make the Card: Shackles of Syphoning</a>.  Content warning: "Magic: The Gathering"</li>
        <li><a href="https://pathofleastefficiency.com/post/55100605493/against-web-footnotes">Against Web Footnotes</a></li>
        <li><a href="https://monsterism.tumblr.com/post/74542658086/heres-a-collaborative-piece-i-did-for-goblin-week">Goblin Week: Pyrolites</a>, collaboration with Marcelo Gallegos</li>
        <li><a href="https://monsterism.tumblr.com/post/74607142367/and-heres-the-second-illustration-i-did-for">Goblin Week: The Aquatic Goblins of Xoralg</a>, collaboration with Marcelo Gallegos</li>
        <li><a href="https://pathofleastefficiency.com/post/75822756575/my-facebook-movie">My Facebook Movie</a></li>
        <li><a href="https://pathofleastefficiency.com/post/76537486224/remove-design-from-web-design">Remove Design From Web Design</a></li>
        <li><a href="https://pathofleastefficiency.com/post/78286080186/fear-of-twine-room-1">Fear of Twine, Room 1</a></li>
    </ul>
</article>
