@use 'sass:meta';
@use '../config/colors';
@use '../config/sizes';

html {
  font-family: system-ui, sans-serif;
  font-weight: normal;

  @include colors.theme;
  @include sizes.space;

  background-color: var(--background-color);
  color: var(--text-color);
}
