[data-type-family="serif"] {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

[data-type-family="monospace"] {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

blockquote {
  border-inline-start: thick solid var(--border, currentColor);
  margin-inline: 0;
  padding-inline: var(--gap, 1em);

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  > * {
    font-size: var(--larger);
    font-style: italic;
  }
}

header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block: 0;
  }
}
