.oberon {
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;

  line-height: 1.5;
  padding: 0 clamp(1rem, 5vw, 3rem);

  h3 {
    float: left;
    font-size: inherit;
    margin-right: 0.5em;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;

    &::after {
      content: '\2767';
      font: 1.3em/0.5em sans-serif;
      padding-left: 0.5rem;
      position: relative;
      top: 3px;
    }
  }
}
