@use 'sass:color';
@use 'sass:map';

$colors: (
  "nordish": (
    "dark": #3b4252,
    "darker": #2e3440,
    "light": #eceff4,
    "accent-light": #88c0d0,
    "complement-light": #8fbcbb,
    "accent-dark": #5e81ac,
    "complement-dark": #81a1c1,
  ),
  "cloned": (
    "dark": #444,
    "darker": #222,
    "light": oldlace,
    "accent-light": orange,
    "complement-light":  skyblue,
    "accent-dark": darkorange,
    "complement-dark": steelblue,
  ),
);

@each $name, $values in $colors {
  [data-palette="#{$name}"] {
    --dark: #{map.get($values, "dark")};
    --darker: #{map.get($values, "darker")};
    --light: #{map.get($values, "light")};
    --accent-light: #{map.get($values, "accent-light")};
    --complement-light: #{map.get($values, "complement-light")};
    --accent-dark: #{map.get($values, "accent-dark")};
    --complement-dark: #{map.get($values, "complement-dark")};
    --bg-accent-dark: #{color.mix(map.get($values, "accent-dark"), map.get($values, "darker"), 15%)};
    --bg-accent-light: #{color.mix(map.get($values, "accent-light"), map.get($values, "light"), 15%)};
    --mark-light: #{color.change(map.get($values, "accent-light"), $alpha: 0.2)};
    --mark-dark: #{color.change(map.get($values, "accent-dark"), $alpha: 0.2)}
  };
}

@mixin light {
  --background-color: var(--light);
  --text-color: var(--dark);
  --accent-color: var(--accent-dark);
  --accent-text: var(--background-color);
  --complement: var(--complement-dark);
  --complement-text: var(--background-color);
  --mark: var(--mark-light);
  --mark-text: var(--text);
  --shadow: hsl(0deg 0% 0% / 12.5%);
}

@mixin dark {
  --background-color: var(--darker);
  --text-color: var(--light);
  --accent-color: var(--accent-light);
  --accent-text: var(--background-color);
  --complement: var(--complement-light);
  --complement-text: var(--background-color);
  --mark: var(--mark-dark);
  --mark-text: var(--text);
  --shadow: hsl(0deg 0% 0% / 25%);
}

@mixin theme {
  @include dark;

  @media (prefers-color-scheme: light) {
    @include light;
  }

  &[data-color-theme="dark"] {
    @include dark;
  }

  &[data-color-theme="light"] {
    @include light;
  }

  // applications of color
  --action: var(--accent-color);
  --active: var(--complement);

  // not 100% sure if these are correct to put here
  --link-color: var(--action);
  --link-active: var(--active);
}
