---
title: Entwined 2023
layout: rime
attrs:
  main:
    class: content-grid

hoagies:
  src: https://bandcamp.com/EmbeddedPlayer/album=203876381/size=small/bgcol=ffffff/linkcol=2ebd35/transparent=true/
  title: hoagies
---
{% import "content.macros.njk" as content %}
{{ content.iframe(
    src=hoagies.src,
    title=hoagies.title,
    width=509,
    height=42
)}}
